/*  SCSS Partial Imports  */
@font-face {
  font-family: parisr;
  src: url("fonts/parisr.ttf");
}

@font-face {
  font-family: sweet sans;
  src: url("fonts/sweetsans-regular-webfont.woff");
}

@font-face {
  font-family: avenir;
  src: url("fonts/avenir.woff");
}

/*  SCSS VARIABLES  */
/*  SCSS MIXIN  */
/*  SCSS FUNCTIONS  */
/*  GENERAL SETTINGS  */
:focus {
  outline: none;
}

a:focus {
  outline: 2.5px dotted #A8A8A8;
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*  Fancy border obtained from: https://codepen.io/shanomurphy/pen/ejpVLw */
.fancy-border {
  border: 25px solid #B88846;
  -o-border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 27;
     border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 27;
}

/*  Skip Links Accessibility features  */
.skip-links a {
  position: absolute;
  left: -100vw;
}

.skip-links a:focus {
  left: auto;
  top: 0;
  z-index: 10;
  background-color: #A8A8A8;
}

body {
  background: #236841;
}

a {
  font-family: avenir;
  text-decoration: none;
  color: #000;
}

p, ul, li {
  font-size: 1.25rem;
  font-family: avenir;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-family: "parisr";
  font-size: 3rem;
  text-transform: capitalize;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

hr {
  /*  Styling CSS  */
  background-color: #236841;
  border: 0;
  height: 2px;
  /*  Layout CSS  */
  width: 100%;
  text-align: left;
  margin-left: 0;
}

video {
  padding-bottom: 1%;
}

.main-body-container {
  max-width: 1920px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  p, ul, li {
    font-weight: normal;
  }
}

@font-face {
  font-family: parisr;
  src: url("fonts/parisr.ttf");
}

@font-face {
  font-family: sweet sans;
  src: url("fonts/sweetsans-regular-webfont.woff");
}

@font-face {
  font-family: avenir;
  src: url("fonts/avenir.woff");
}

/*  SCSS VARIABLES  */
/*  SCSS MIXIN  */
/*  SCSS FUNCTIONS  */
/*  GENERAL SETTINGS  */
:focus {
  outline: none;
}

a:focus {
  outline: 2.5px dotted #A8A8A8;
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*  Fancy border obtained from: https://codepen.io/shanomurphy/pen/ejpVLw */
.fancy-border {
  border: 25px solid #B88846;
  -o-border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 27;
     border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 27;
}

/*  Skip Links Accessibility features  */
.skip-links a {
  position: absolute;
  left: -100vw;
}

.skip-links a:focus {
  left: auto;
  top: 0;
  z-index: 10;
  background-color: #A8A8A8;
}

body {
  background: #236841;
}

a {
  font-family: avenir;
  text-decoration: none;
  color: #000;
}

p, ul, li {
  font-size: 1.25rem;
  font-family: avenir;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-family: "parisr";
  font-size: 3rem;
  text-transform: capitalize;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

hr {
  /*  Styling CSS  */
  background-color: #236841;
  border: 0;
  height: 2px;
  /*  Layout CSS  */
  width: 100%;
  text-align: left;
  margin-left: 0;
}

video {
  padding-bottom: 1%;
}

.main-body-container {
  max-width: 1920px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  p, ul, li {
    font-weight: normal;
  }
}

.header > * {
  margin-top: 1%;
}

.menu-wrapper {
  visibility: hidden;
  display: none;
}

.header {
  /*  Styling CSS  */
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DFE9F3));
  background: linear-gradient(180deg, #FFFFFF 0%, #DFE9F3 100%);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
  /*  Layout CSS */
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1.5fr 0.5fr;
      grid-template-areas: "logo-container logo-container header-links" "navigation navigation navigation";
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

.header hr {
  background: #236841;
}

.logo-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo-container;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 1%;
}

.logo-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-container span {
  display: none;
}

.logo-container .logo-text {
  top: 0;
  height: auto;
  position: relative;
}

.logo-container .logo-text h1, .logo-container .logo-text h3 {
  line-height: 10px;
  font-family: "parisr";
}

.header-links {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header-links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 5%;
  padding-right: 10%;
}

.header-links a {
  /*  Styling CSS  */
  text-decoration: none;
  color: #236841;
  font-family: "avenir";
  font-size: 1.2rem;
  /*  Layout CSS  */
  margin: 1% 5%;
}

.navigation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: navigation;
}

.navigation .navbar {
  /*  Styling CSS  */
  width: 100%;
  font-size: 1.4rem;
  font-family: "sweet sans";
  /*  Layout CSS  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding-bottom: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
}

/*  Media Query for Tablet + Laptop displays  */
@media (min-width: 768px) and (max-width: 1280px) {
  h2 {
    font-size: 2.2rem;
  }
  .header-links > a {
    font-size: 1rem;
    text-align: center;
  }
  .logo-text h1 {
    font-size: 4rem;
  }
  .logo-text h3 {
    font-size: 1.25rem;
  }
  .navigation {
    visibility: visible;
  }
  .navbar {
    /*  Styling CSS  */
    width: 100%;
    font-size: 1.5rem;
    font-family: "sweet sans";
    /*  Layout CSS  */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 0;
    padding-bottom: 1%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow: hidden;
  }
  .navbar * {
    font-size: 1.2rem;
  }
  .logo-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    /*
      **  As Firefox and Internet Explorer do not allow content to adapt the image source
      **  used through CSS, alternative approaches were required. Below a background image
      **  is set to the HTML defined source image of the Emblem logo. The background image
      **  contains the desired logo size. The width and height of the 'image' is then set
      **  to 0 and padding is added to the borders of the img element.
      **  This 'hides' the original size logo, whilst displaying the 'background' containing
      **  the desired size logo. 
      **  
      **  This solution was inspired by the following link:
      **  https://stackoverflow.com/questions/18483024/replace-content-of-img-via-css
      */
  }
  .logo-container img {
    background: url("images/emblem_logo_160.png") no-repeat;
    width: 0;
    height: 0;
    padding: 70px 90px;
  }
  .logo-container h3 {
    font-size: 2.1rem;
  }
}

/*  Media Query for Mobile  */
@media (min-width: 0px) and (max-width: 767px) {
  /**
  * Below navigation solution for mobile nav was inspired by Tyler Potts' CSS only solution.
  * The work differs from the original solution and has been adapted to be suitable for its 
  * current application. Link mentioned as reference to where work is based off of:
  *
  * Original Solution link: https://github.com/TylerPottsDev/css-only-hamburger-menu
  *
  * Side note: I would also like to state the lecture slides discussing mobile navigation
  * were not working and links to examples often returned error 404s
  */
  .menu-wrapper {
    display: block;
    visibility: visible;
    position: fixed;
    top: 35px;
    right: 15px;
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu-wrapper .toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
  }
  .menu-wrapper .hamburger {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu-wrapper .hamburger .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background: #DFE9F3;
    z-index: 5;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .menu-wrapper .hamburger .bar::before,
  .menu-wrapper .hamburger .bar::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background: #DFE9F3;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .menu-wrapper .hamburger .bar::after {
    top: 10px;
  }
  .menu-wrapper .toggle:hover + .hamburger {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  .menu-wrapper .toggle:checked + .hamburger {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-wrapper .toggle:checked:hover + .hamburger {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .menu-wrapper .toggle:checked + .hamburger .bar::before,
  .menu-wrapper .toggle:checked + .hamburger .bar::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background: rgba(25, 25, 25, 0.95);
    width: 100vw;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .mobile-menu ul li {
    color: #DFE9F3;
    font-size: 2rem;
    list-style-type: none;
    text-align: center;
    margin: 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    width: 100vw;
    margin: -5%;
  }
  .mobile-menu a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
    margin-top: 20%;
    overflow: hidden;
    color: #E5E5E5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
  }
  .mobile-menu ul li:hover {
    border-bottom: 2px solid #236841;
  }
  .mobile-menu ul li:hover a {
    color: #236841;
  }
  .menu-wrapper .toggle:checked + .hamburger + .mobile-menu {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  .header {
        grid-template-rows: auto auto;
        grid-template-areas: "logo-container logo-container logo-container" "header-links header-links header-links";
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: header;
    top: 0;
    display: inline;
    position: fixed;
    z-index: 10;
    background: -webkit-gradient(linear, left top, left bottom, from(#0BA360), to(#236841));
    background: linear-gradient(180deg, #0BA360 0%, #236841 100%);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  }
  .header .logo-container {
    padding-top: 5%;
    /*
      **  As Firefox and Internet Explorer do not allow content to adapt the image source
      **  used through CSS, alternative approaches were required. Below a background image
      **  is set to the HTML defined source image of the Emblem logo. The background image
      **  contains the desired logo size. The width and height of the 'image' is then set
      **  to 0 and padding is added to the borders of the img element.
      **  This 'hides' the original size logo, whilst displaying the 'background' containing
      **  the desired size logo. 
      **  
      **  This solution was inspired by the following link:
      **  https://stackoverflow.com/questions/18483024/replace-content-of-img-via-css
      */
    width: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-bottom: 2%;
  }
  .header .logo-container h3 {
    display: none;
  }
  .header .logo-container img {
    background: url("images/emblem_logo_96.png") no-repeat;
    width: 0;
    height: 0;
    padding: 40px 50px;
  }
  .header .logo-container span {
    display: block;
    position: absolute;
    right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 5%;
    padding-top: 15px;
  }
  .header .logo-container .mobile-navigation input[type=checkbox] {
    opacity: 50%;
    display: block;
    position: absolute;
    right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 5%;
    padding-top: 15px;
  }
  .header .logo-text h1 {
    font-size: 2.5rem !important;
  }
  .header .header-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    border-top: 1px solid #000;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .header .header-links a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #DFE9F3;
    margin: 0 3%;
    line-height: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .navbar {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
  }
  #nav-toggle-open:checked {
    opacity: 100%;
  }
  #nav-toggle-open:checked .navbar {
    width: 250px;
  }
}

/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  Internet Explorer/Edge 10+ Compatibility  */
/*  Internet Explorer/Edge 10+ Compatibility  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  Internet Explorer/Edge 10+ Compatibility : PC + Desktop  */
@media all and (-ms-high-contrast: none) and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  .header {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1.4fr 0.4fr;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .header img {
    -ms-interpolation-mode: bicubic;
    min-width: 300px;
  }
  .header h1 {
    font-size: 7rem;
  }
  .header h3 {
    font-size: 3.5rem;
    line-height: 5rem;
  }
  .navbar {
    /*  Styling CSS  */
    font-size: 1.5rem !important;
    font-family: "sweet sans";
    /*  Layout CSS  */
    display: inline-block;
    margin: 5%;
    padding-top: 1%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: hidden;
  }
  .navbar a {
    margin: 0 3%;
    text-align: center;
  }
  .header-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 100;
    margin-left: 1%;
    margin-right: 1%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .header-links > a {
    z-index: 100;
    text-align: right;
    height: 100%;
    font-size: 1rem !important;
  }
  .logo-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .header-links {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
  .navigation {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .navigation .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .navigation .navbar .navigation-link:nth-of-type(2) {
    margin-left: 5%;
  }
  .navigation .navbar .navigation-link:last-of-type {
    margin-right: 5%;
  }
  .navigation .navbar a {
    font-size: 1.125rem !important;
  }
}

/*  Internet Explorer/Edge 10+ Compatibility : Tablet  */
@media all and (-ms-high-contrast: none) and (min-width: 768px) and (max-width: 1280px) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .header #logo {
    -ms-interpolation-mode: bicubic;
  }
  .header h1 {
    padding-top: 3%;
    font-size: 6rem;
  }
  .header h3 {
    font-size: 3.5rem;
  }
  .header .logo-container img {
    width: 10px;
  }
  .header .header-links > a {
    text-align: center;
  }
  .navigation {
    visibility: visible;
  }
  .navigation a, .navigation button {
    font-size: 1.25rem;
    padding: 0;
    color: #000;
  }
  .navbar {
    /*  Styling CSS  */
    font-size: 1.5rem !important;
    font-family: "sweet sans";
    /*  Layout CSS  */
    display: inline-block;
    margin: 5%;
    padding-top: 1%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: hidden;
  }
  .navbar a {
    margin: 0 3%;
    text-align: center;
  }
  .logo-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .logo-container img {
    margin-top: 10%;
    padding: 60px 0px;
  }
  .logo-container h1 {
    margin-left: -40%;
  }
  .logo-container h3 {
    margin-left: -40%;
    font-size: 2.1rem;
  }
}

/*  Internet Explorer/Edge 10+ Compatibility : Mobile  */
@media all and (-ms-high-contrast: none) and (min-width: 0px) and (max-width: 767px) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .header-links a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #DFE9F3;
    margin: 0 3%;
    line-height: 0;
    font-size: 1.5rem !important;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@font-face {
  font-family: parisr;
  src: url("fonts/parisr.ttf");
}

@font-face {
  font-family: sweet sans;
  src: url("fonts/sweetsans-regular-webfont.woff");
}

@font-face {
  font-family: avenir;
  src: url("fonts/avenir.woff");
}

/*  SCSS VARIABLES  */
/*  SCSS MIXIN  */
/*  SCSS FUNCTIONS  */
/*  GENERAL SETTINGS  */
:focus {
  outline: none;
}

a:focus {
  outline: 2.5px dotted #A8A8A8;
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*  Fancy border obtained from: https://codepen.io/shanomurphy/pen/ejpVLw */
.fancy-border {
  border: 25px solid #B88846;
  -o-border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 27;
     border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 27;
}

/*  Skip Links Accessibility features  */
.skip-links a {
  position: absolute;
  left: -100vw;
}

.skip-links a:focus {
  left: auto;
  top: 0;
  z-index: 10;
  background-color: #A8A8A8;
}

body {
  background: #236841;
}

a {
  font-family: avenir;
  text-decoration: none;
  color: #000;
}

p, ul, li {
  font-size: 1.25rem;
  font-family: avenir;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-family: "parisr";
  font-size: 3rem;
  text-transform: capitalize;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

hr {
  /*  Styling CSS  */
  background-color: #236841;
  border: 0;
  height: 2px;
  /*  Layout CSS  */
  width: 100%;
  text-align: left;
  margin-left: 0;
}

video {
  padding-bottom: 1%;
}

.main-body-container {
  max-width: 1920px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  p, ul, li {
    font-weight: normal;
  }
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  margin-top: 5%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#000000));
  background: linear-gradient(180deg, #434343 0%, #000000 100%);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
}

.footer * {
  color: #F1F2F6;
}

.footer h2 {
  font-size: 2.125rem;
}

.footer p, .footer a {
  font-size: 1.5rem;
  margin-top: 0.5%;
  line-height: 0;
}

.footer a + p {
  margin-top: 10%;
}

.footer .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2%;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
}

.footer .footer-links p {
  line-height: 1.25rem;
}

/*  Media Query for Mobile  */
@media (min-width: 0px) and (max-width: 767px) {
  .footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#000000));
    background: linear-gradient(180deg, #434343 0%, #000000 100%);
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
  }
  .footer h2 {
    font-size: 1.875rem;
  }
  .footer p, .footer a {
    font-size: 1.25rem;
  }
  .footer a + p {
    margin-top: 10%;
  }
  .footer .contact-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 2%;
    padding-bottom: 10%;
  }
  .footer .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .footer .footer-links h2 {
    display: none;
  }
  .footer .footer-links a:first-of-type {
    border-top: 1px solid #F1F2F6;
    border-bottom: 1px solid #F1F2F6;
  }
  .footer .footer-links a {
    line-height: 1.75rem;
    width: 100%;
  }
  .footer .footer-links a p {
    font-size: 1.5rem;
    margin-top: 5%;
  }
  .footer .footer-links a:last-of-type {
    border-top: 1px solid #F1F2F6;
    border-bottom: 1px solid #F1F2F6;
  }
}

/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  Internet Explorer/Edge 10+ Compatibility  */
/*  Internet Explorer/Edge 10+ Compatibility  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  Internet Explorer/Edge 10+ Compatibility : Tablet  */
@media all and (-ms-high-contrast: none) and (min-width: 768px) and (max-width: 1280px) {
  .footer {
    margin-bottom: 0% !important;
  }
  .footer h2 {
    font-size: 1.875rem !important;
  }
  .footer .contact-details p, .footer .contact-details a, .footer .footer-links p, .footer .footer-links a {
    font-size: 1.25rem !important;
  }
  .footer .footer-links {
    padding-bottom: 5% !important;
  }
}

/*  Internet Explorer/Edge 10+ Compatibility : Mobile  */
@media all and (-ms-high-contrast: none) and (min-width: 0px) and (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#000000));
    background: linear-gradient(180deg, #434343 0%, #000000 100%);
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
  }
  .footer h2 {
    font-size: 1.875rem;
  }
  .footer p, .footer a {
    font-size: 1.25rem;
  }
  .footer a + p {
    margin-top: 10%;
  }
  .footer .contact-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 2%;
    padding-bottom: 10%;
  }
  .footer .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .footer .footer-links h2 {
    display: none;
  }
  .footer .footer-links a:first-of-type {
    border-top: 1px solid #F1F2F6;
    border-bottom: 1px solid #F1F2F6;
  }
  .footer .footer-links a {
    line-height: 1.75rem;
    width: 100%;
  }
  .footer .footer-links a p {
    font-size: 1.5rem;
    margin-top: 5%;
  }
  .footer .footer-links a:last-of-type {
    border-top: 1px solid #F1F2F6;
    border-bottom: 1px solid #F1F2F6;
  }
}

.current-location {
  font-size: 0.7rem;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto 2.9fr 0.5fr;
      grid-template-rows: auto auto 2.9fr 0.5fr;
  gap: 1px 1px;
      grid-template-areas: "header" "header" "main-body-container" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

.main-body-container {
  font-family: "avenir";
  grid-area: main-body-container;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  background: #F1F2F6;
  -webkit-box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  gap: 1px 1px;
      grid-template-areas: "introductory-content introductory-content introductory-content" "items-container items-container items-container";
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main-body-container;
}

.main-body-container > section {
  margin-left: 2%;
  margin-right: 2%;
}

.introductory-content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: introductory-content;
  padding-top: 1%;
  padding-bottom: 5%;
}

.introductory-content a {
  text-decoration: underline;
  color: blue;
}

.items-container {
  margin-top: 0;
  text-align: center;
  overflow: hidden;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: items-container;
}

.parent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3%;
  max-width: 1200px;
}

.item-list {
  padding-bottom: 5%;
}

.slideshow-container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.slideshow-container > div {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 50px;
  border-radius: 10px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item .item-title {
  margin-top: 2%;
  line-height: 10px;
}

.item .item-title h3 {
  font-size: 2rem;
}

.item img {
  float: left;
  width: auto;
  min-height: 200px;
  height: auto;
}

.item .item-description h3 {
  line-height: 0;
}

.item .item-description p {
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
}

.item .item-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0;
}

.item-price h3 {
  line-height: 0;
}

.item-price p {
  padding-top: 5%;
  width: 100%;
  font-size: 1.5rem;
}

.star-rating h3 {
  line-height: 0;
}

.star-rating span {
  width: 100%;
  font-size: 2rem;
}

/*  CSS for slideshow scrollbar  */
.slideshow-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slideshow-container::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slideshow-container::-webkit-scrollbar-track {
  background: transparent;
}

.item {
  width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
}

.item-list > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  background: white;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.item-list > a:active {
  top: 1px;
}

.item-list > a:focus {
  background: #000;
  color: #F1F2F6;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

/*  Media Query for Tablet + Laptop displays  */
@media (min-width: 768px) and (max-width: 1280px) {
  .items-container {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }
}

/*  Mobile CSS Adjustments  */
/*  Media Query for Mobile  */
@media (min-width: 0px) and (max-width: 767px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 0.25fr auto 0.5fr;
        grid-template-rows: auto 0.25fr auto 0.5fr;
    gap: 1vh 1px;
        grid-template-areas: "header" "header" "main-body-container" "footer";
  }
  header, .main-body-container, footer {
    min-width: 319px;
  }
  .main-body-container {
    margin-top: 10%;
  }
  .introductory-content {
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
  }
  .items-container {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }
  h2 {
    font-size: 2rem;
  }
  .item .item-title h2 {
    font-size: 1.5rem;
    line-height: 110%;
  }
  .item .item-title h3 {
    font-size: 1.2rem;
  }
  .item .item-description h3 {
    font-size: 2rem;
  }
  .item .item-description p {
    font-size: 1rem;
  }
  .item .item-subcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item-price h3 {
    font-size: 1.3rem !important;
  }
  .item-price p {
    padding-top: 5%;
    width: 100%;
    font-size: 1rem;
  }
  .star-rating h3 {
    font-size: 1.3rem !important;
  }
  .star-rating span {
    width: 100%;
    font-size: 1.5rem;
  }
  .item-list {
    margin-bottom: 15%;
  }
}

/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  Internet Explorer/Edge 10+ Compatibility  */
/*  Internet Explorer/Edge 10+ Compatibility  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
@media all and (-ms-high-contrast: none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .main-body-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 0.1fr 0.45fr;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .introductory-content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .items-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .items-container h3 {
    margin-top: 5%;
  }
  .item-description {
    width: 90%;
  }
  .item-description h3 {
    font-size: 1.8rem !important;
  }
  .item-subcontent h3 {
    font-size: 2rem !important;
  }
  .item-price {
    margin-top: 1.5%;
    padding-right: 30%;
  }
  .footer {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

/*  Internet Explorer/Edge 10+ Compatibility : Mobile  */
@media all and (-ms-high-contrast: none) and (min-width: 0px) and (max-width: 767px) {
  .grid-container {
    -ms-grid-rows: 0.1fr 0fr 1fr auto;
  }
  .item-price {
    margin-top: 1.5%;
    padding-right: 0;
  }
  header, .main-body-container, footer {
    min-width: 319px;
  }
}
/*# sourceMappingURL=19th_century.css.map */