@import "general";

.header > * {
  margin-top: 1%;
}

.menu-wrapper {
  visibility: hidden;
  display: none;
}

.header {
  /*  Styling CSS  */
  background: linear-gradient(180deg, #FFFFFF 0%, #DFE9F3 100%);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);

  /*  Layout CSS */
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.5fr 0.5fr;
  grid-template-areas:  "logo-container logo-container header-links"
                        "navigation navigation navigation";
  grid-area: header;

  hr {
    background: $primary-color;
  }
}

.logo-container {
    grid-area: logo-container; 
    @include flex-row;
    align-items: flex-start;
    margin-left: 1%;
    img {
        display: flex;
    }

    span {
        display: none;
    }

    .logo-text {
        top: 0;
        height: auto;
        position: relative;

        h1, h3 {
        line-height: 10px;
        font-family: "parisr";
        }
    }
}

.header-links {
    grid-area: header-links; 
    @include flex-row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: flex-end;
    padding-top: 5%;
    padding-right: 10%;

    a {
        /*  Styling CSS  */
        text-decoration: none;
        color: $primary-color;
        font-family: "avenir";
        font-size: 1.2rem;
        
        /*  Layout CSS  */
        margin: 1% 5%;
    }
}

.navigation {

  grid-area: navigation; 
  .navbar {
    /*  Styling CSS  */
    width: 100%;
    font-size: 1.4rem;
    font-family: "sweet sans";

    /*  Layout CSS  */
    @include flex-row;
    margin: 0;
    padding-bottom: 1%;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
  }



}


/*  Media Query for Tablet + Laptop displays  */
@media (min-width: 768px) and (max-width: 1280px) {
    $heading-size : 2.2rem;
    h2 { font-size: $heading-size;}

    .header-links > a { font-size: $text-size * 0.8; text-align: center;}

    .logo-text {
        h1 { font-size: 4rem; }
        h3 { font-size: $text-size;}
    }

    .navigation { 
        visibility: visible; 

    }

    .navbar {
      /*  Styling CSS  */
      width: 100%;
      font-size: 1.5rem;
      font-family: "sweet sans";

      * { font-size: 1.2rem;}

      /*  Layout CSS  */
      @include flex-row;
      width: 100%;
      margin: 0;
      padding-bottom: 1%;
      align-items: center;
      justify-content: space-evenly;
      overflow: hidden;
    }

    .logo-container {
      width: fit-content;

       /*
      **  As Firefox and Internet Explorer do not allow content to adapt the image source
      **  used through CSS, alternative approaches were required. Below a background image
      **  is set to the HTML defined source image of the Emblem logo. The background image
      **  contains the desired logo size. The width and height of the 'image' is then set
      **  to 0 and padding is added to the borders of the img element.
      **  This 'hides' the original size logo, whilst displaying the 'background' containing
      **  the desired size logo. 
      **  
      **  This solution was inspired by the following link:
      **  https://stackoverflow.com/questions/18483024/replace-content-of-img-via-css
      */
      img { 
        background: url("images/emblem_logo_160.png") no-repeat;
        width: 0; 
        height: 0; 
        padding: 70px 90px;
      }

      h3 {
      font-size: ($title-size * 0.7);
      }
    }
}


/*  Media Query for Mobile  */
@media (min-width: 0px) and (max-width: 767px) {
  /**
  * Below navigation solution for mobile nav was inspired by Tyler Potts' CSS only solution.
  * The work differs from the original solution and has been adapted to be suitable for its 
  * current application. Link mentioned as reference to where work is based off of:
  *
  * Original Solution link: https://github.com/TylerPottsDev/css-only-hamburger-menu
  *
  * Side note: I would also like to state the lecture slides discussing mobile navigation
  * were not working and links to examples often returned error 404s
  */
  .menu-wrapper {
    display: block;
    visibility: visible;
    position: fixed;
    top: 35px;
    right: 15px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }

  .menu-wrapper .toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 999;
    cursor: pointer;
    opacity: 0;
  }

  .menu-wrapper .hamburger {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 10px;
    transition: all 0.3s ease;
  }

  .menu-wrapper .hamburger .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background: #DFE9F3;
    z-index: 5;
    transition: all 0.2s linear;
  }

  .menu-wrapper .hamburger .bar::before,
  .menu-wrapper .hamburger .bar::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background: #DFE9F3;
    transition: all 0.2s linear;
  }

  .menu-wrapper .hamburger .bar::after {
    top: 10px;
  }

  .menu-wrapper .toggle:hover + .hamburger {
    transform: rotate(-25deg);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

  .menu-wrapper .toggle:checked + .hamburger {
    transform: rotate(45deg);
  }

  .menu-wrapper .toggle:checked:hover + .hamburger {
    transform: rotate(135deg);
  }

  .menu-wrapper .toggle:checked + .hamburger .bar::before,
  .menu-wrapper .toggle:checked + .hamburger .bar::after {
    top: 0;
    transform: rotate(90deg);
  }


  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background: rgba(25, 25, 25, 0.95);
    width: 100vw;
    z-index: 1;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .mobile-menu ul li {
    color: #DFE9F3;
    font-size: 2rem;
    list-style-type: none;
    text-align: center;
    margin: 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    width: 100vw;
    margin: -5%;
  }

  
  .mobile-menu a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
    margin-top: 20%;
    overflow: hidden;
    color: #E5E5E5;
    transition: 0.3s;
    display: block;

  }

  .mobile-menu ul li:hover {
    a { color: $primary-color; }
    
    border-bottom: 2px solid $primary-color;
  }

  .menu-wrapper .toggle:checked + .hamburger + .mobile-menu {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  .header { 
    grid-template-rows: auto auto;
    grid-template-areas:  "logo-container logo-container logo-container"
                          "header-links header-links header-links";
    grid-area: header;
    top: 0;
    display: inline;
    position: fixed;
    z-index: 10;

    background: linear-gradient(180deg, #0BA360 0%, $primary-color 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);

    .logo-container {
      padding-top: 5%;
      h3 { display: none; }

      /*
      **  As Firefox and Internet Explorer do not allow content to adapt the image source
      **  used through CSS, alternative approaches were required. Below a background image
      **  is set to the HTML defined source image of the Emblem logo. The background image
      **  contains the desired logo size. The width and height of the 'image' is then set
      **  to 0 and padding is added to the borders of the img element.
      **  This 'hides' the original size logo, whilst displaying the 'background' containing
      **  the desired size logo. 
      **  
      **  This solution was inspired by the following link:
      **  https://stackoverflow.com/questions/18483024/replace-content-of-img-via-css
      */
      img { 
        background: url("images/emblem_logo_96.png") no-repeat;
        width: 0; 
        height: 0; 
        padding: 40px 50px;
      }

      span { 
          display: block; 
          position: absolute;
          right: 0;
          height: fit-content;
          margin-right: 5%;
          padding-top: 15px;
      }
      .mobile-navigation {
        input[type=checkbox] {
          opacity: 50%;
          display: block; 
          position: absolute;
          right: 0;
          height: fit-content;
          margin-right: 5%;
          padding-top: 15px;
        }
      }
      width: 100%;
      justify-content: left;
      padding-bottom: 2%;
    }

    .logo-text {
      h1 { font-size: 2.5rem !important; }
    }
    

    .header-links {
      @include flex-row;
      justify-content: center;
      align-items: center;
      margin: 0;
      border-top: 1px solid #000;
      height: fit-content;
      width: 100%;
      a { 
        justify-content: center;
        color: #DFE9F3; 
        margin: 0 3%;
        line-height: 0; 
        text-align: center; 
        align-items: center;
      }
    }



    .navbar { 
      display: none;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
    }

  }

  #nav-toggle-open:checked {
    opacity: 100%;
  }
  #nav-toggle-open:checked .navbar {
    width: 250px;
  }

  
}



/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
                                /*  Internet Explorer/Edge 10+ Compatibility  */
                                /*  Internet Explorer/Edge 10+ Compatibility  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */
/*  ==================================================================================================  */                         

/*  Internet Explorer/Edge 10+ Compatibility : PC + Desktop  */
@media all and (-ms-high-contrast:none) and (min-width: 768px){
  h1 {
      font-size: 5rem;
  }

  .header {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1.4fr 0.4fr;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;

    img {
      -ms-interpolation-mode: bicubic;
      min-width: 300px;
    }

    h1 {
      font-size: 7rem;
    }
    h3 {
      font-size: 3.5rem;
      line-height: 5rem;
    }
  }

  .navbar {
    /*  Styling CSS  */
    font-size: 1.5rem !important;
    font-family: "sweet sans";

    /*  Layout CSS  */
    display: inline-block;
    margin: 5%;
    padding-top: 1%;
    justify-content: space-evenly;
    overflow: hidden;

    a {
      margin: 0 3%;
      text-align: center;
    }
  }
  .header-links {
    @include flex-row;
    z-index: 100;
    margin-left: 1%;
    margin-right: 1%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
      
  }
  .header-links > a { 
    z-index: 100;
    text-align: right;
    height: 100%;
    font-size: $text-size * 0.8 !important; 
  }

  .logo-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .header-links {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }

  .navigation {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;

    .navbar {
      justify-content: space-between;
      width: 100%;

      .navigation-link:nth-of-type(2) { margin-left: 5%; }
      .navigation-link:last-of-type { margin-right: 5%; }

      a {
        font-size: ($text-size * 0.9) !important;
      }
      
    }
  }
}

/*  Internet Explorer/Edge 10+ Compatibility : Tablet  */
@media all and (-ms-high-contrast:none) and (min-width: 768px) and (max-width: 1280px) {
    .header {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;

        #logo {
        -ms-interpolation-mode: bicubic;
        }

        h1 {
        padding-top: 3%;
        font-size: 6rem;
        }
        h3 {
        font-size: 3.5rem;
        }
        .logo-container {
          img {
            width: 10px;
          }
        }

        .header-links > a { 
          text-align: center;
        }
    }

    .navigation { 
        visibility: visible; 
        a, button { 
        font-size: $text-size;
        padding: 0;
        color: #000; 
        } 
    }

    .navbar {
        /*  Styling CSS  */
        font-size: 1.5rem !important;
        font-family: "sweet sans";

        /*  Layout CSS  */
        display: inline-block;
        margin: 5%;
        padding-top: 1%;
        justify-content: space-evenly;
        overflow: hidden;

        a {
          margin: 0 3%;
          text-align: center;
        }
    }

    .logo-container {
        width: fit-content;

        img {
          margin-top: 10%;
          padding: 60px 0px;
        }

        h1 { margin-left: -40%; }

        h3 {
          margin-left: -40%;
          font-size: ($title-size * 0.7);
        }
    }
}


/*  Internet Explorer/Edge 10+ Compatibility : Mobile  */
@media all and (-ms-high-contrast:none) and (min-width: 0px) and (max-width: 767px){
  .header { 
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    
  }

  .header-links {
    a { 
      justify-content: center;
      color: #DFE9F3; 
      margin: 0 3%;
      line-height: 0; 
      font-size: 1.5rem !important;
      text-align: center; 
      align-items: center;
    }
  }

}

